*{
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
}

.container{
    max-width: 480px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

body, p, h1, h2, h3, h4, h5, h6,
ul, li, a, button, form, fieldset, legend,
input, div, header, footer{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
/* Search Form */
.search-form fieldset{
    border: none;
}
.search-form legend{
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 20px 0px;
}
.search-form-label{
    display: block;
    padding: 20px 0px 10px 0px; 
    font-size: 1.1em;
    text-align: left;
}
.search-form .dog-selector{
    border: none;
    border-bottom: 2px solid black;
    background: lightgray;
    color: black;
    font-weight: 600;
    font-size: 1em;
    width: 100%;
}
.dog-selector{
    cursor: pointer;
    text-transform: capitalize;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
}
.app-button{
    margin: 20px 0px;
    color: white;
    border: 2px solid black;
    background: gray;
    font-weight: 600;
    border-radius: 25px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 1.1em;
    cursor: pointer;
}
.app-button:focus,
.app-button:hover{
    background: silver;
    transition: .3s;
}
.no-dogs-found{
    text-transform: uppercase;
    font-size: 1em;
    padding: 20px;
    border-bottom: 2px solid black;
}
.dog-image-div img{
    max-width: 100%;
    padding: 10px;
}
.dog-image-div{
    border: 2px double black;
    margin: 10px 0px;
    text-transform: uppercase;
    padding-bottom: 10px;
}